<header class="header">
  <div class="container">
    <div class="row">
      <!-- <div class="col-xs-6 col-sm-2 col-md-2 nav-50">
        <div class="logo">
          <img src="assets/images/logo.png">
        </div>
      </div> -->

      
      <div class="col-xs-12 col-sm-10 col-md-10 nav-50">
        <nav class="custom-nav custom-nav12">
          <ul class="ulFlex">
            <!-- <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/about-us">About Us</a></li>
            <li><a routerLink="/pricing" class="pricing-m">Pricing</a></li>
            <li><a href="#">Our Feature</a></li>
            <li><a routerLink="/award">Award</a></li>
            <li><a routerLink="/blog">Blog </a></li>
            <li><a routerLink="/contact-us">Contact </a></li>
            <li><a routerLink="/admin" target="_blank">Login As Admin </a></li> -->
            <li><a routerLink="/login" >Login </a></li>

            <li><a routerLink="/signup"  class="try-for-free">SignUp </a></li>
            <!-- <li><a href="#" class="take-a-tour">Take a Tour </a></li> -->
          </ul>
        </nav>

        <div class="responsive-icon"><i class="fas fa-bars"></i></div>

      </div>

    </div>
  </div>
<!-- 
  <nav class="custom-nav custom-nav-none">
    <ul>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/about-us">About Us</a></li>
      <li><a routerLink="/pricing">Pricing</a></li>
      <li><a href="#">Our Feature</a></li>
      <li><a routerLink="/award">Award</a></li>
      <li><a routerLink="/blog">Blog </a></li>
      <li><a routerLink="/contact-us">Contact </a></li>
      <li><a routerLink="/login" target="_blank">Login </a></li>
      <li><a routerLink="/register" target="_blank" class="try-for-free" style="margin-bottom: 10px;">Try For Free </a></li>
      <li><a href="#" class="take-a-tour" style="margin-bottom: 10px;">Take a Tour </a></li>
    </ul>
  </nav> -->

</header>


<div>
<router-outlet></router-outlet>
</div>







<footer class="footer-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-md-4">
        <div class="footer-m-box">
          <div class="footer-icon">
          </div>


        </div>
      </div>


      
    </div>
  </div>
</footer>